name: "Sphinx: Render docs"

on:
  workflow_dispatch:
  push:
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0 # Fetch the full history
          ref: ${{ github.ref }} # Check out the current branch or tag

      - name: Fetch version tags only (vx.y.z)
        run: |
          TAGS=$(git ls-remote --tags origin 'v*[0-9].[0-9].[0-9]' | sed 's/.*refs\/tags\///' | grep -E '^v[0-9]+\.[0-9]+\.[0-9]+$')
          for tag in $TAGS; do
            git fetch origin "refs/tags/$tag:refs/tags/$tag" --no-recurse-submodules
          done

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install uv and dependencies
        run: |
          curl -LsSf https://astral.sh/uv/0.9.8/install.sh | sh
          uv sync --group docs

      - name: Build documentation
        run: uv run sphinx-multiversion docs/source docs/build/html --keep-going --no-color

      - name: Get the latest tag
        run: |
          # Fetch all tags
          git fetch --tags
          # Get the latest tag
          latest_tag=$(git tag --sort=-creatordate | head -n 1)
          echo "LATEST_RELEASE=$latest_tag" >> $GITHUB_ENV

      - name: Generate index.html for judge0.github.io/judge0-python.
        run: |
          echo '<!DOCTYPE html>
          <html>
          <head>
              <meta http-equiv="refresh" content="0; URL=${{ env.latest_release }}/index.html">
          </head>
          </html>' > docs/build/html/index.html
        env:
          latest_release: ${{ env.LATEST_RELEASE }}

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: html-docs
          path: docs/build/html/

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/master'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/build/html
