name: Test judge0-python

on:
  workflow_dispatch:
  push:
    branches: ["master"]
    paths: ["src/**", "tests/**"]
  pull_request:
    branches: ["master"]
    paths: ["src/**", "tests/**"]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"
      - name: Install uv and project
        run: |
          curl -LsSf https://astral.sh/uv/0.9.8/install.sh | sh
          uv sync --group test
      - name: Test with pytest
        env: # Add necessary api keys as env variables.
          JUDGE0_ATD_API_KEY: ${{ secrets.JUDGE0_ATD_API_KEY }}
          JUDGE0_RAPID_API_KEY: ${{ secrets.JUDGE0_RAPID_API_KEY }}
          JUDGE0_CE_AUTH_HEADERS: ${{ secrets.JUDGE0_CE_AUTH_HEADERS }}
          JUDGE0_EXTRA_CE_AUTH_HEADERS: ${{ secrets.JUDGE0_EXTRA_CE_AUTH_HEADERS }}
          JUDGE0_CE_ENDPOINT: ${{ secrets.JUDGE0_CE_ENDPOINT }}
          JUDGE0_EXTRA_CE_ENDPOINT: ${{ secrets.JUDGE0_EXTRA_CE_ENDPOINT }}
          JUDGE0_CLOUD_CE_AUTH_HEADERS: ${{ secrets.JUDGE0_CLOUD_CE_AUTH_HEADERS }}
          JUDGE0_CLOUD_EXTRA_CE_AUTH_HEADERS: ${{ secrets.JUDGE0_CLOUD_EXTRA_CE_AUTH_HEADERS }}
        run: uv run pytest tests
